<div class="big_list">
  <div class="text">

<div class="text_container articles">
  <h1><%= t('blog.part1') %></h1>
  <p><%= t('blog.part2') %></p>
  <p><%= t('blog.part3') %></p>
  <p><%= t('blog.part4') %></p>
  <p><%= t('blog.part5') %></p>
  <p><%= t('blog.part6') %></p>
  <p><%= t('blog.part7') %></p>

  <a name="hits_and_hosts articles"></a>
  <h1><%= t('blog.part8') %></h1>
  <p><%= t('blog.part9') %></p>

  <p><%= t('blog.part10') %></p>

  <p><%= t('blog.part11') %></p>

  <p><%= t('blog.part12') %></p>

 <a name="smm "></a>
 <h1><%= t('blog.part13') %></h1>
 <p><%= t('blog.part14') %></p>
 <br>
 <p><%= t('blog.part15') %></p>
 <ul>
   <li><%= t('blog.part16') %></li>
   <li><%= t('blog.part17') %></li>
   <li><%= t('blog.part18') %></li>
   <li><%= t('blog.part19') %></li>
 </ul>
 <br>
<p><%= t('blog.part20') %></p>
<ul>
  <li><%= t('blog.part21') %></li>
  <li><%= t('blog.part22') %></li>
  <li><%= t('blog.part23') %></li>
  <li><%= t('blog.part24') %></li>
</ul>
  <a name="google_adwords"></a>
  <h1><%= t('blog.part31') %></h1>
  <p><%= t('blog.part25') %></p>
  <p><%= t('blog.part26') %> <a href="https://adwords.google.com">https://adwords.google.com</a></p>
  <p><%= t('blog.part27') %></p>
  <p><%= t('blog.part28') %></p>
  <p><%= t('blog.part29') %></p>
  <p><%= t('blog.part30') %></p>

  <a name="seo_copirating"></a>
  <h1><%= t('blog.part32') %></h1>
  <p><%= t('blog.part33') %></p>
  <ul>
    <li><p><%= t('blog.part34') %></p></li>
    <li><p><%= t('blog.part35') %></p></li>
    <li><p><%= t('blog.part36') %></p></li>
  </ul>
  <p><%= t('blog.part37') %></p>
  <br>
  <p><%= t('blog.part38') %></p>
  <p><%= t('blog.part39') %></p>
  <ul>
    <li><p><%= t('blog.part40') %></p></li>
    <li><p><%= t('blog.part41') %></p></li>
    <li><p><%= t('blog.part443') %></p></li>
  </ul>
  <br>
  <p><%= t('blog.part42') %></p>
  <p><%= t('blog.part54') %></p>
  <br>
  <p><%= t('blog.part44') %></p>
  <ul>
    <li><p><%= t('blog.part45') %></p></li>
    <li><p><%= t('blog.part46') %></p></li>
    <li><p><%= t('blog.part47') %></p></li>
    <li><p><%= t('blog.part48') %></p></li>
    <li><p><%= t('blog.part49') %></p></li>
    <li><p><%= t('blog.part50') %></p></li>
    <li><p><%= t('blog.part51') %></p></li>
    <li><p><%= t('blog.part52') %></p></li>
    <li><p><%= t('blog.part53') %></p></li>
  </ul>

  </div>
</div>

