<div class="big_list">
  <div class="text">

<div class="text_container">
  <h1><%= t('blog.part1') %></h1>
  <p><%= t('blog.part2') %></p>
  <p><%= t('blog.part3') %></p>
  <p><%= t('blog.part4') %></p>
  <p><%= t('blog.part5') %></p>
  <p><%= t('blog.part6') %></p>
  <p><%= t('blog.part7') %></p>
</br>
</br>

  <a name="hits_and_hosts"></a>
  <h1><%= t('blog.part8') %></h1>
  <p><%= t('blog.part9') %></p>

  <p><%= t('blog.part10') %></p>

  <p><%= t('blog.part11') %></p>

  <p><%= t('blog.part12') %></p>

</br>
</br>
 <a name="smm"></a>
 <h1><%= t('blog.part13') %></h1>
 <p><%= t('blog.part14') %></p>
 <br>
 <p><%= t('blog.part15') %></p>
 <ul>
   <li><%= t('blog.part16') %></li>
   <li><%= t('blog.part17') %></li>
   <li><%= t('blog.part18') %></li>
   <li><%= t('blog.part19') %></li>
 </ul>
 <br>
<p><%= t('blog.part20') %></p>
<ul>
  <li><%= t('blog.part21') %></li>
  <li><%= t('blog.part22') %></li>
  <li><%= t('blog.part23') %></li>
  <li><%= t('blog.part24') %></li>
</ul>
  <br>
  <br>
  <a name="google_adwords"></a>
  <h1><%= t('blog.part31') %></h1>
  <p><%= t('blog.part25') %></p>
  <p><%= t('blog.part26') %></p>
  <p><%= t('blog.part27') %></p>
  <p><%= t('blog.part28') %></p>
  <p><%= t('blog.part29') %></p>
  <p><%= t('blog.part30') %></p>



  </div>
</div>

