	<div class="top_block">
		<div class="text">
			<p><%= t('home.text') %><p>Mark Twain.</p>
			</p>
		</div>
	    <%= image_tag("me-2.png", :class => "me") %>
	</div>
	<div class="right_block">
		<h1>The Best SEO Articles</h1>
		<ul>
		<li><a href="/blog">Buy or not to buy links &raquo;</a>
		<li><a href="/blog#hits_and_hosts">Hits and hosts &raquo;</a>
		<li><a href="/blog#hits">Hits &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		<li><a href="/blog">Some titile of the article &raquo;</a>
		</ul>
	</div>
	<div class="main_block">
			<h1>Website needs</h1>
			<p><br><%= t('home.mainblock1') %></br>
			<br><%= t('home.mainblock2') %></br>
			<br><%= t('home.mainblock3') %></br>
			<br><%= t('home.mainblock4') %></br>
			<br><%= t('home.mainblock5') %></br>
			</p>
	</div>
