<!DOCTYPE html>
<html>
<head>
  <title>Gannabis</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="main_container">
		<div class="header">
			<div class="listleft"></div>
			<div class="listright">
				<div class="social_icons">
					<%= link_to image_tag("facebook.png"), "http://www.facebook.com/anna.daviduk" %>
					<%= link_to image_tag("vk.png"), "http://vk.com/id7941759" %>
					<%= link_to image_tag("twitter.png"), "https://twitter.com/AnnaDavydiuk" %>
					<%= link_to image_tag("linked-in.png"), "http://www.linkedin.com/profile/view?id=165862445&trk=hb_tab_pro_top" %>
				</div>
				<a href="/" id="home">Home</a>
				<a href="/blog" id="blog">Blog</a>
				<a href="/photos" id="photos">Photos</a>
			</div>
		</div>
		<div class="clearfix"></div>
 		<div class="container_center">
 			<%= yield %>
		</div>
	</div>
	<div class="clearfix"></div>
<div class="footer"></div>
</body>
</html>
